.contact-btn {
  color: #13f4ef;
  background-color: white;
  border-color: #13f4ef;
  text-shadow: 0.1rem 0.1rem 1rem #13f4ef;
  font-weight: bolder;
  padding: 0.4rem;
}
.contact-btn:hover {
  color: white;
  background-color: #13f4ef;
  border-color: #13f4ef;
}

.contact button:hover,
button:focus,
button:active {
  background-color: #13f4ef !important;
}

.contact {
  color: white;
}

.contact a {
  color: #13f4ef;
}

.contact a:hover {
  color: white;
}

.form-input:hover {
  box-shadow: 0 0 0 5px #13f4ef;
}
