#userMessage {
  height: 20%;
}

.contact button {
  background-color: #13f4ef !important;
  box-shadow: none;
}

.contact button:hover,
button:focus,
button:active {
  background-color: #13f4ef !important;
}

.contact {
  color: white;
}

.contact-info {
  color: white;
}
