.footer {
  padding: 1rem;
  font-weight: bold;
  background-color: black;
  text-align: center;
}

.footer a {
  margin: 0 0.25rem;
}

.fa {
  color: white;
}

.fa:hover {
  color: #13f4ef;
  text-shadow: 0.1rem 0.1rem 1rem #fff;
}

.copyright p {
  letter-spacing: normal;
  font-size: xx-small !important;
  color: #d8dbe2;
}
